<%- include("header"); -%>

<div class="container contact">

  <div class="row">

    <div class="col-lg-6 text-column">
      <h2>Hi, I'm Aidan.</h2>
      <p>
        I live in Brighton, UK and I'm teaching myself to design and build software.
      </p>
      <hr />
      <div>
      <p>
        You can find my Github
        <a href="https://github.com/aidansheehan">here</a>. Contact me by email
        at <a href="mailto: aidanmsheehan@gmail.com" >aidanmsheehan@gmail.com</a>.
      </p>
    </div>
    </div>

    <div class="col-lg-6 image-column">
      <img class="profile-image" src="images/profile-photo.jpg" alt="">
    </div>
  </div>

</div>

<%- include("footer"); -%>
