<%- include("header"); -%>

<div class="container">
  <div class="row">
    <div class="col-lg-6 image-column">

      <h2>Location Not Found</h2>

      <hr />

      <div class="result-details">
        <p>
          Sorry, I could not find that location!
        </p>
        <p>
          <a href="/">Please go back to the home page to try again.</a>
        </p>
      </div>

    </div>
    <div class="col-lg-6 text-column">
      <i class="fas fa-heart-broken"></i>
      <img class="main-image" src="images/broken-heart.png" alt="Can't load image">
    </div>
  </div>
</div>

<%- include("footer"); -%>
