  <%- include("header"); -%>

  <main>

    <div class="container">
      <div class="row">
        <div class="col-lg-6 image-column">
          <img class="main-image" src="images/day-and-night.png" alt="">
        </div>
        <div class="col-lg-6 text-column">
          <h2>Enter a location to find the local weather</h2>
          <form action="/" method="post">
            <input type="text" id="input-field" name="cityName" placeholder="City, Country" />
            <br />
            <button type="submit" class="btn btn-lg btn-secondary fw-bold border-white bg-white" name="button">Let's Go!</button>
          </form>

        </div>
      </div>
    </div>

    <!-- <form class="" action="/" method="post">
        <input type="text" name="cityName" placeholder="City, Country">
        <br>
        <button type="submit" class="btn btn-lg btn-secondary fw-bold border-white bg-white" name="button">Let's Go!</button>
      </form> -->


  </main>

<%- include("footer"); -%>
